{% load static %}
<p>Bonjour {{ enseignant.email }},</p>
<p>Merci de vous être inscrit sur notre plateforme d'énigmes. Pour activer votre compte, veuillez cliquer sur le lien suivant :</p>
<p><a href="{{ lien_confirmation }}">Confirmer mon compte</a></p>
<p>Si le lien ne fonctionne pas, vous pouvez copier et coller l'URL suivante dans votre navigateur :</p>
<p>{{ lien_confirmation }}</p>
<p>Si vous n'avez pas demandé cette inscription, vous pouvez ignorer cet email.</p>
<p>Bien cordialement, <br>Germain Becker</p>