{% extends 'enigmes/base.html' %}

{% block extra_css %}
{% endblock %}

{% block content %}

<div class="container">
    <h1>Conditions générales d'utilisation</h1>
    
    <p>En créant un compte sur l'application, vous acceptez toutes les présentes conditions et consentez à la <a href="{% url 'politique_confidentialite' %}">politique de confidentialité</a> de l'application qui précise la gestion des données personnelles récoltées.</p>

    <section>
        <h4>1. Présentation de l'Application</h4>
        <p><em>Infonigme</em> est application web permet aux enseignants de créer des comptes afin de sélectionner et diffuser des énigmes aux élèves. Les élèves peuvent former des équipes, définir leur nom d'équipe et saisir leurs réponses. Aucune possibilité de créer ou téléverser du contenu n'est offerte aux utilisateurs.</p>
    </section>
    
    <section>
        <h4>2. Accès à l'Application</h4>
        <p>L'accès à l'Application est réservé aux enseignants, ainsi qu'à leurs élèves via un code communiqué par les enseignants.</p>
    </section>
    
    <section>
        <h4>3. Inscription et Création de Compte</h4>
        <p>Les enseignants peuvent créer un compte personnel en fournissant une adresse e-mail valide et en choisissant un mot de passe. Seules les adresses email académiques ou liée à l'AEFE sont autorisées pour limiter la création de compte aux enseignants.</p>
    </section>
    
    <section>
        <h4>4. Utilisation de l'Application</h4>
        <p>Les enseignants peuvent sélectionner des énigmes dans la bibliothèque fournie par l'Application et les diffuser aux élèves.</p>
    </section>
    
    <section>
        <h4>5. Protection des Données Personnelles</h4>
        <p>Pour des informations détaillées sur la manière dont nous traitons les données personnelles, veuillez consulter notre <a href="{% url 'donnees_personnelles' }">Politique de Confidentialité</a>.</p>
    </section>
    
    <section>
        <h4>6. Propriété Intellectuelle</h4>
        <p>Tous les contenus de l'Application sont diffusés sous licence Creative Commons BY-NC-SA par son auteur Germain Becker. Certaines illustrations, sous licence libre, sont utilisées dans les différentes énigmes, leurs auteurs respectifs sont cités.</p>
    </section>
    
    <section>
        <h4>7. Responsabilité</h4>
        <p>L'Application s'efforce de fournir un service de qualité, mais ne peut être tenue responsable des éventuelles erreurs. Si vous rencontrez des erreurs, vous êtes invité à les communiquer à l'administrateur de l'application via l'adresse email de contact. Vous vous engagez à informer le plus rapidement possible l'administrateur de l'application en cas d'utilisation non autorisée de votre compte.</p>
    </section>
    
    <section>
        <h4>8. Modification des CGU</h4>
        <p>Les présentes CGU peuvent être modifiées à tout moment pour s’adapter aux évolutions de l'Application. Les utilisateurs en seront alors informés.</p>
    </section>

    
</div>

{% endblock %}

