{% extends 'enigmes/base.html' %}

{% block extra_css %}
<style>
    .centre {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 1280px) {
    .hero .hook {
        max-width: 950px;
    }
}

@media (min-width: 1024px) {
    .hero .hook {
        max-width: 700px;
    }
}

.hero {
    display: flex;
    justify-content: center;
    text-align: center;
}




</style>
{% endblock %}

{% block content %}
{% load static %}
<div class="container">
    <section class="hero">
        <div class="hook">
            <hgroup style="text-align: center; margin:2rem auto">
                <h1>Résoudre des énigmes</h1>
                <p>Pour découvrir l'informatique</p>
            </hgroup>
            <p>Ce site propose plusieurs énigmes permettant de découvrir des personnalités et des thématiques liées à l'informatique.</p>
            <p>Aucun prérequis n'est nécessaire !</p>
            
            <article class="centre" style="max-width: 600px;margin-top: 3rem;">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_div }}
                    <button type="submit">Démarrer le concours</button>
                </form>
                <small>
                    <a href="{% url 'reprendre_equipe' %}">Reprendre le concours ?</a>
                </small>
                
            </article>

        </div>
        
    </section>
</div>




{% endblock %}