{% extends 'enigmes/base.html' %}

{% block extra_css %}
<style>
    :root {
    --main-color: rgb(0,57,71);
    --main-color-bright: rgb(4,60,72);
    --color-red: rgb(233,78,26);
    --color-red-bright: rgba(233, 78, 26, 0.15);
}

main.responsive {
	flex: 1;
	padding: .5rem;
	overflow-x: visible;
}

.hero-enigme {
    background-color: var(--main-color-bright);
    height: 200px;
}

.content {
    position: initial;
}

    .conteneur-global-consignes-enigme {
    margin-top: -100px;
    background-color: white;
    /* width: 800px; */
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5em;
    padding: 2rem;
    padding-top: 1rem;
    padding-bottom: 0.25rem;
    position: relative;
    z-index: 1000;
}

.conteneur-global-consignes-enigme .content::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 10px;
    height: 100%;
    background-color: var(--color-red);
}

.conteneur-global-consignes-enigme .nav {
    color: #888;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.centre {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.image-responsive {
    max-width: 100%;
}

.video-responsive {
    margin: 20px 0;
}

@media (max-width: 560px){
    .video-responsive {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 ratio, pour d'autres formats ajuster cette valeur */
    height: 0;
    overflow: hidden;
}

.video-responsive iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
}

.centre {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }


.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.gap-0 {
    gap: 0.25rem;
}

.gap-1 {
    gap: 0.5rem;
}

.gap-1 {
    gap: 1rem;
}


</style>

{% endblock %}

{% block content %}
{% load static %}

<div class="container-fluid" style="height:200px;background-color: var(--main-color-bright);"></div>
<div class="container" style="max-width: 1000px;">
    <section class="conteneur-global-consignes-enigme">
        <div class="content">
          <p class="nav">Des énigmes... pour découvrir l'informatique !</p>
          <hgroup>
            <h1 class="titre-enigme">Énigme {{ enigme.id }}</h1>
            <p>{{ enigme.titre }}</p>
          </hgroup>
          
          <hr>
          <div class="consignes-enigme">
            <p class="flex gap-1">
                <i data-feather="external-link" style="color:var(--pico-primary-background)"></i>
                <span><a class="secondary" href="{% static chemin_enigme_partie1_pdf %}" target="_blank">Première partie de l'énigme</a></span>
            </p>
            {% if enigme.a_un_complement_pdf %}
            <p class="flex gap-1">
                <i data-feather="paperclip" style="color:var(--pico-primary-background)"></i>
                <span>{{ enigme.titre_complement }} : <a class="secondary" href="data/Caroline_Fontaine_poster_a3.pdf" target="_blank">cliquer ici</a></span>
            </p>
            {% endif %}          
          </div>
        </div>
    </section>


    <section class="consignes-code">
        <p style="color:var(--main-color); ">Pour accéder à la seconde partie de l'énigme, vous devez d'abord trouver le code de la première partie. 
            <br>Ce code est à saisir dans le champ ci-dessous.</p>
    </section>

    <article class="centre" style="max-width: 600px;">
        <h5 style="text-align: center; color:var(--main-color); font-weight: bold;">Accéder à la seconde partie de l'énigme</h5>
        <img class="centre" src="https://info-mounier.fr/jeu/data/padlock-icon.svg" alt="" width="60">
        <form method="post">
            {% csrf_token %}
            {{ formulaire.as_div }}
            <button type="submit">Valider</button>
        </form>
    </article>

    <section id="seconde-partie-enigme">
        <h3>Seconde partie de l'énigme</h3>
    
    
        {{ enigme_partie2_markdown|safe }}
    </section>
   
</div>

<div class="container">
    
</div>



    


    
    
    
    
    
    
    
    
</main>


{% endblock %}