{% extends 'enigmes/base.html' %}

{% block extra_css %}

<style>
    .no-decoration {
        text-decoration: none;
    }

    .icones-classe {
        display: flex;
        gap: 1rem;
    }

    .icones-classe svg {
        width: 30px;
        height: 30px;
    }

    .icones-classe svg:hover {
        color: var(--pico-primary-hover);
    }

    .icones-classe .icon-disabled svg {
        color: var(--pico-contrast-focus);
        cursor: not-allowed;
    }

    .boutons-classe {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        flex-wrap: wrap;
        gap: 1rem;
        margin-top: 1rem;
    }

    .btn-active-desactive {
        padding: 0.2rem;
    }

    .infos-classe {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .classe-activee {
        color: #3c763d;
        background-color: #dff0d8;
        padding: 0.2rem;
        border-radius: 0.2rem;
    }

    .classe-desactivee {
        color: #8a3b3b;
        background-color: #fce3e3;
        padding: 0.2rem;
        border-radius: 0.2rem;
    }
</style>

{% endblock %}

{% block extra_js %}
<script src="https://unpkg.com/htmx.org@2.0.3"
    integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq"
    crossorigin="anonymous"></script>
{% endblock %}

{% block content %}

{% load custom_filters %}

<div class="container">
    <h1>Mes classes</h1>

    <p>Les classes permettent de sélectionner une série d'énigmes pour les diffuser à vos élèves.</p>

    <p>
        <a href="{% url 'creer_classe' %}">
            <button>
                Créer une nouvelle classe
            </button>
        </a>
    </p>

    {% if classes %}
    <p>Voici la liste de vos classes</p>
    {% endif %}

    {% for classe in classes %}
    <article id="classe-{{ classe.id }}">
        <a href="{% url 'detail_classe' classe.code %}">
            {{ classe.nom }}
        </a>
        <div class="boutons-classe">
            <div class="infos-classe">

                <span>Code : {{ classe.code }}</span>
                {% if classe.est_active %}
                <span class="classe-activee">Activée</span>
                {% else %}
                <span class="classe-desactivee">Désactivée</span>
                {% endif %}

            </div>

            <div class="icones-classe">
                <form action="">
                    {% csrf_token %}
                    {% if classe.est_active %}
                    <button hx-post="{% url 'desactiver_classe_dans_mes_classes' classe.code %}"
                        hx-target="#classe-{{ classe.id }}" hx-swap="outerHTML" class="outline btn-active-desactive"
                        hx-on="htmx:send: this.setAttribute('aria-busy', 'true'); htmx:afterSwap: this.removeAttribute('aria-busy');">
                        Désactiver
                    </button>
                    {% else %}
                    <button hx-post="{% url 'activer_classe_dans_mes_classes' classe.code %}"
                        hx-target="#classe-{{ classe.id }}" hx-swap="outerHTML" class="outline btn-active-desactive"
                        hx-on="htmx:send: this.setAttribute('aria-busy', 'true'); htmx:afterSwap: this.removeAttribute('aria-busy');">
                        Activer
                    </button>
                    {% endif %}
                </form>
                <a class="no-decoration" data-tooltip="Détails" href="{% url 'detail_classe' classe.code %}">
                    <i data-feather="eye"></i>
                </a>
                <a class="no-decoration" data-tooltip="Résultats" href="{% url 'reponses_classe' classe.code %}">
                    <i data-feather="bar-chart-2"></i>
                </a>
                <a class="no-decoration {% if not peut_modifier_classe|get_item:classe.id %}icon-disabled{% endif %}" {% if not peut_modifier_classe|get_item:classe.id %}data-tooltip="Modification impossible car des équipes sont déjà créées" {% else %}
                    data-tooltip="Modifier" href="{% url 'modifier_classe' classe.code %}" {% endif %}>
                    <i data-feather="edit"></i>
                </a>
                <a class="no-decoration" data-tooltip="Supprimer" href="{% url 'supprimer_classe' classe.code %}">
                    <i data-feather="trash"></i>
                </a>
            </div>
        </div>



    </article>
    {% empty %}
    <p>Vous n'avez pas encore créé de classe.</p>
    {% endfor %}

</div>


<script>
    document.addEventListener("htmx:afterSwap", (event) => {
        // Remplace les icônes Feather après qu'un contenu Htmx a été inséré dans le DOM
        feather.replace();
    });
</script>

{% endblock %}