{% extends 'enigmes/base.html' %}

{% block extra_css %}
{% endblock %}

{% block content %}

<div class="container">
    <h1>Politique de confidentialité</h1>
    <section>
        <h4>1. Introduction</h4>
        <p>La protection de vos données personnelles est prise très au sérieux. La présente Politique de Confidentialité explique comment les informations personnelles que vous fournissez en utilisant l'Application sont collectées, utilisées et protégées.</p>
    </section>
    
    <section>
        <h4>2. Données Collectées</h4>
        <p>Les données collectées sont limitées et utilisées strictement dans le cadre de l'Application :</p>
        <ul>
            <li><strong>Enseignants</strong> : nom (facultatif), prénom (facultatif), adresse e-mail et mot de passe pour la création et la gestion du compte utilisateur.</li>
            <li><strong>Élèves</strong> : noms d'équipe et réponses aux énigmes, sans collecte de données personnelles d’élèves spécifiques.</li>
        </ul>
        <p>Les élèves sont invités à ne pas fournir d'informations personnelles dans le nom d'équipe qu'ils proposent.</p>
    </section>
    
    <section>
        <h4>3. Utilisation des Données</h4>
        <p>Les données personnelles collectées sont utilisées exclusivement pour le bon fonctionnement de l'Application. Le nom, le prénom et l'adresse email transmis servent :</p>
        <ul>
            <li>à vérifier que l'utilisateur qui crée un compte est bien un enseignant ou une personne de la communauté enseignante</li>
            <li>à contacter un utilisateur le cas échéant.</li>
        </ul>
    </section>
    
    <section>
        <h4>4. Partage des Données</h4>
        <p>Aucune donnée personnelle n'est partagée avec des tiers, sauf si cela est requis par la loi ou pour des raisons de sécurité.</p>
    </section>
    
    <section>
        <h4>5. Sécurité et hébergement des Données</h4>
        <p>Les données communiquées sont stockées et hébergées de manière sécurisée et conforme au RGPD sur les serveurs européens de l'entreprise <a href="https://eu.pythonanywhere.com/" target="_blank">PythonAnywhere</a>, ces serveurs étant situés à Francfort (Allemagne) dans un centre de données d'Amazon Web Services. Voir les <a href="https://eu.pythonanywhere.com/terms_v2/" target="_blank">conditions générales</a> et ce <a href="https://blog.pythonanywhere.com/176/" target="_blank">billet de blog</a> sur l'hébergement en Europe de PythonAnywhere.</p>
    </section>
    
    <section>
        <h4>6. Conservation des Données</h4>
        <p>Les données des comptes enseignants sont conservées tant que le compte est actif.</p>
    </section>
    
    <section>
        <h4>7. Droits des Utilisateurs</h4>
        <p>Conformément aux réglementations en vigueur, les utilisateurs disposent des droits suivants sur leurs données personnelles :</p>
        <ul>
            <li><strong>Droit d'accès</strong> : accéder aux informations personnelles que nous détenons.</li>
            <li><strong>Droit de rectification</strong> : corriger les informations inexactes.</li>
            <li><strong>Droit de suppression</strong> : demander la suppression de leurs données, sous réserve des obligations légales.</li>
            <li><strong>Droit d'opposition</strong> : refuser le traitement de leurs données dans certains cas, ce qui implique la suppresion du compte.</li>
        </ul>
        <p>Pour exercer ces droits, les utilisateurs peuvent contacter l'administrateur de la plateforme par voie électronique : <a href="mailto:contact.infonigma@gmail.com"><span class="protection">mlkf,zekvorz</span>co<span class="protection">klfnzorjnvjrz lv</span>nta<span class="protection">ofhbrzornvp</span>ct.in<span class="protection">:;eude!ùeki</span>fo<span class="protection">oifzeuogvnzr</span>nigm<span class="protection">^pez,fovbznp</span>a@<span class="protection">:;;deopifzei*</span>gm<span class="protection">nfzoepfierzovze;</span>ai<span class="protection">^ùdùd;ecenvekj</span>l.c<span class="protection">klczdlv ldz,vkl</span>om<span class="protection">fezfkzep!%d,vkl</span></a>.</p>
    </section>
    
    <section>
        <h4>8. Modifications de la Politique de Confidentialité</h4>
        <p>Cette Politique de Confidentialité peut être mise à jour pour se conformer aux évolutions légales.</p>
    </section>
    
    <section>
        <h4>9. Contact</h4>
        <p>Pour toute question concernant cette Politique de Confidentialité ou pour exercer vos droits, vous pouvez contacter l'administrateur de la plateforme à <a href="mailto:contact.infonigma@gmail.com"><span class="protection">mlkf,zekvorz</span>co<span class="protection">klfnzorjnvjrz lv</span>nta<span class="protection">ofhbrzornvp</span>ct.in<span class="protection">:;eude!ùeki</span>fo<span class="protection">oifzeuogvnzr</span>nigm<span class="protection">^pez,fovbznp</span>a@<span class="protection">:;;deopifzei*</span>gm<span class="protection">nfzoepfierzovze;</span>ai<span class="protection">^ùdùd;ecenvekj</span>l.c<span class="protection">klczdlv ldz,vkl</span>om<span class="protection">fezfkzep!%d,vkl</span></a>.</p>
    </section>

    
</div>

{% endblock %}

