{% extends 'enigmes/base.html' %}

{% block extra_css %}
{% endblock %}

{% block content %}

<div class="container">
    <h1>Confirmation de suppression</h1>
    <h3>Voulez-vous vraiment supprimer la classe "{{ classe.nom }}" ?</h3>
    <p>
        <strong>Attention :</strong> 
        {% if nb_equipes > 0 %}
            Cette action est irréversible et supprimera la classe et ses {{ nb_equipes }} équipe(s) associée(s).
        {% else %}
            Cette action est irréversible et supprimera définitivement la classe.
        {% endif %}
    </p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="outline" style="width: auto;">Confirmer la suppression</button>
        <a href="{% url 'detail_classe' code_classe=classe.code %}">
            <button type="button">Annuler</button>
        </a>
    </form>
</div>

{% endblock %}

