{% extends 'enigmes/base.html' %}

{% block extra_css %}
{% endblock %}

{% block content %}

<div class="container">
    <h1>À propos</h1>
    <h2>Pourquoi ce jeu ?</h2>
    <p>L'évolution des pratiques numériques impacte l'ensemble des secteurs, des métiers et des compétences associées. Le secteur du numérique et de l'informatique est en pleine expansion et recrute énormément.</p>
    <p>Ce jeu permet de mettre en lumière, de manière ludique, différents domaines et des personnalités du secteur.
    </p>
    <p>Les métiers du secteur sont extrêmement nombreux mais souffrent encore beaucoup trop du poids des stéréotypes de genre qui font que beaucoup de filles s'interdisent d'accéder à des carrières dans le secteur du numérique.</p>
    <p>En réalité, ce secteur propose des métiers d'avenir, très variés et qui privilégient le travail en équipe. Le numérique a besoin de vous toutes et tous pour former des équipes mixtes qui permettront de penser, concevoir et développer des outils numériques représentatifs de l'ensemble de la population et qui accompagneront durablement la transition numérique de la société.</p>
</div>

{% endblock %}

